{% extends "base.html" %}



{% block title %}

About Page

{% endblock %}



{% block body %}

<section>
	<div id="aboutUs"></div>
	<div class="features">
		<h3 class="text-center">Who we are?</h3>
		<div class="copy">
			<p>IIM Ahmedabad's Centre for Innovation Incubation and Entrepreneurship (CIIE) is one of India's leading centres catalyzing the entrepreneurship ecosystem in the country through its various interventions and initiatives. CIIE was set-up by IIM Ahmedabad in association with the Government of India and the Gujarat Government to provide seeding and incubation support with a focus on technology and mass impact areas. Since 2007, CIIE has accelerated over 500 startups across various sectors. CIIE's journey so far has had enormous contributions from IIMA alumni who have come forward and supported the cause in multiple ways.</p>
		</div>
		<h3 class="text-center">What we do?</h3>
		
		<div class="copy">
			We deliver disproportionate impact to entrepreneurship in India by backing purpose-driven entrepreneurs harnessing the power of technology to solve some of India's toughest problems using business models that are specific to India.

			<p>We provide entrepreneurs with the three critical enablers to fast-track their journey from ideas into viable businesses creating positive sustainable impact.
			</p>
			
			
		</div>
		
	</div>
</div>
</section>

<a href="{% url 'index' %}">Back to Home</a>

{% endblock %}