{% extends "base.html" %}



{% block title %}

Home Page

{% endblock %}




{% block body %}


<nav class="navbar navbar-custom navbar-fixed-top">
	 <div class="container">
		 <div class="navbar-header">
		   
		 <img class="navbar-header img-responsive" src="Images/restaurant_logo.png" alt="Food High">
		 
		 </div>
	     <ul class="nav navbar-nav navbar-right">
		 
		   
		   <li><a href="#aboutUs">About us</a></li>
		   <li><a href="#nuStartupStory">NU Startup Story</a></li>
		   <li><a href="#archives">Archives</a></li>
		   <li><a href="#team">Team</a></li>
		   <li><a href="#contact">Contact</a></li>
		   <li><a href="login.html">Login</a></li>
		   <li><a href="register.html">SignUp</a></li>
		   
	     </ul>		
	 </div>
	</nav>


<a href="{% url 'about' %}">About Us</a>
<a href="{% url 'archive' %}">Archives</a>
<a href="{% url 'contact' %}">Contact Us</a>
<a href="{% url 'team' %}">Team</a>
<a href="{% url 'nustartupstory' %}">NU Startup Story</a>


{% if user.is_authenticated %}
<a href="{% url 'userDash' %}">Dashboard</a>
<a href="{% url 'logout' %}">Logout</a>
{% else %}
<a href="{% url 'login' %}">Login</a>
{% endif %}
{% endblock %}